<!-- Footer -->
<!-- <footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
    <span class="year"></span> BT Real Estate
  </footer> -->

<footer>
  <p class="footerp">
    Geof: 970.259.3700/ 970.759.3702 <br />
    Alexa: 970.632.8071
  </p>
  <br />
  <p class="footerp">HORIZON PROPERTIES · DURANGO · REAL EASTATE</p>
</footer>

<footer class="footcontainer">
  <!-- <div class="row"> -->
  <!-- <div class="col-md-6 admin">
      Admin
    </div> -->
  <div class="copyright">
    Horizon Properties of Durango, LLC
  </div>
  <!-- </div> -->
</footer>
