{% extends 'base.html' %} {% load static %} {% block content %}
<div id="about">
  <div class="about-row">
    <!-- <div class="geof-top">
      <img class="geof" src="{% static '/img/geof.png' %}" alt="Geof Schlittgen">
      <h2 class="title">Geof Schlittgen</h2>
      <h3 class="undertitle">Broker/Owner</h3>
    </div> -->
    <div class="skill-row">
      <img
        class="mountain"
        src="{% static '/img/geof-color.png' %}"
        alt="Geof Schlittgen"
      />
      <h2 class="title">Geof Schlittgen</h2>
      <h3 class="undertitle">Broker/ Owner</h3>
      <p>
        Geof was born in London, England and moved with his family to Calgary,
        Canada where the seeds of living a western outdoor lifestyle were
        planted. <br /><br />
        His school years were spent in California just north of San Francisco
        and included college at the University of California, Berkeley.
        <br /><br />
        He later moved to Munich, Germany in 1970 and spent 8 years in Davos,
        Switzerland as a professional photographer. He held a position as the
        head photographer for the Swiss Research Institute for Orthopedic
        Surgery, the pioneers of internal fixation of bone fractures, and
        freelanced as a ski photographer securing assignments from industry
        product marketing agencies. <br /><br />
        In the 70’s he decided to take an extended trip throughout the western
        United States in search of a mountain community he could call home. In
        1976, Durango was just a pass-through visit, but after spending some
        time, he realized this was the place. The warmth of the community, the
        old western heritage, the magnificent surroundings, the great weather
        and clean air, and the opportunities of a growing area instantly helped
        him make up his mind.
      </p>
    </div>
    <div class="center">
      <img
        class="about-geof"
        src="{% static '/img/vintage-geof.png' %}"
        alt="Geof skiing"
      />
    </div>
    <p>
      In 1980, Geof became licensed as a Colorado Real Estate Broker and opened
      Horizon Real Estate Brokerage in 1981, and has been actively involved in
      Brokerage and other Real Estate related activities ever since. He’s worked
      on projects from first time home purchases to major land, subdivision and
      commercial developments. Taking full advantage of all that the area offers
      from skiing to dirt biking, waterskiing and much more. We look forward to
      helping you find your place here too!
      <br /><br />Having brokered over $100 million in transactions, his
      experience has been quite diverse. He has enjoyed a number of affiliations
      over the years including the prestigious Christies Great Estates.
    </p>
    <div class="center">
      <img
        class="about-geof"
        src="{% static '/img/geof-high-country.jpg' %}"
        alt="Geof in the High Country"
      />
    </div>
  </div>
</div>
{% endblock %}
