{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="about" class="geof-container">
  <div class="about-row">
    <div class="geof-top">
      <!-- <h3>About Me.</h3> -->
      <img class="geof" src="{% static '/img/geof.png' %}" alt="Geof Schlittgen">
      <h2 class="title">Geof Schlittgen</h2>
      <h3 class="undertitle">Broker/Owner</h3>
    </div>
    <p>I was born in London, England and moved with my family to Calgary, Canada where the seeds of living a western outdoor lifestyle
      were planted. <br><br> My school years were spent in California just north of San Francisco and included college at the University of
      California, Berkeley. <br><br> I later moved to Munich, Germany in 1970 and spent 8 years in the international ski community of Davos,
      Switzerland as a professional photographer. I held a position as the head photographer for the Swiss Research Institute for
      Orthopedic Surgery, the pioneers of internal fixation of bone fractures, located in Davos and freelanced as a ski photographer,
      securing assignments from industry product marketing agencies. <br><br> In the 70’s I decided to take an extended trip throughout the Western
      United States in search of a mountain community I could call home. I visited Sun Valley, Idaho, where I have fond memories of working
      on the ski patrol in ‘68 and ‘69, as well as other mountain communities like Telluride and Taos.</p>
      <div>
      <img class="about-geof" src="{% static '/img/vintage-geof.png' %}" alt="Animas Valley"> 
      </div>
      <p>In 1976, Durango, was just a
      pass-thru visit, but after spending some time, I realized this was the place. The warmth of the community, the old western heritage,
      the magnificent surroundings, the great weather and clean air, and the opportunities of a growing area were all factors that helped
      me make up my mind. <br><br> In 1980, I became licensed as a Colorado real estate broker and opened Horizon Real Estate Brokerage in 1981,
      and have been enjoying it ever since. I take full advantage of all that the area offers from skiing in the winter to dirt biking
      and waterskiing in the summer, and look forward to helping you find your place here just as I did!,</p>
      <div>
      <img class="about-geof" src="{% static '/img/geof-high-country.jpg' %}" alt="Animas Valley">
      </div>  
  </div>
  
  
</div>
{% endblock %}
