{% extends 'base.html' %} {% load static %} {% block content %}
<div id="about" class="geof-container">
  <div class="about-row">
    <!-- <div class="geof-top">
      <img class="geof" src="{% static '/img/geof.png' %}" alt="Geof Schlittgen">
      <h2 class="title">Geof Schlittgen</h2>
      <h3 class="undertitle">Broker/Owner</h3>
    </div> -->

    <div class="skill-row">
      <img
        class="mountain"
        src="{% static '/img/alexa1.png' %}"
        alt="Geof Schlittgen"
      />
      <h2 class="title">Alexa Schlittgen</h2>
      <h3 class="undertitle">Assistant</h3>
      <p>
        Alexa has always been a true Colorado girl. Born in Durango in the 80’s,
        Geof moved her from his backpack to skis soon after she mastered
        walking. Growing up in Durango Alexa has enjoyed everything from
        performing in
        <a class="alexa-resume" href="https://www.facebook.com/TheWildRoseGang"
          >The Wild Roses</a
        >
        with her mom, to enjoying the mountain and high desert lifestyle.
        <br /><br />She spent 10 years in San Francisco working in the music
        recording industry and commercial sound design, sourcing creative talent
        in the vast advertising and tech industries, and finally marketing,
        social media and artist relations for a major consumer electronics and
        audio company. During this time she also got an Associate’s Degree in
        Fashion Design. After an unforgettable experience in the Bay Area, Alexa
        quickly realized that the city life had run its course and she
        desperately wanted to be back where her heart was. After relocating back
        to her sweet hometown in 2014, she pursued a career in Real Estate where
        she is pursuing a career in Real Estate. [<a
          class="alexa-resume"
          href="https://alexaisrad.com/my-experience/"
          >see full resume here</a
        >] <br /><br />
        Alexa will be there for your every need to happily work with Geof in
        buying or selling the wonderfully varied real estate our area offers.
      </p>
    </div>
    <!-- <div class="center">
      <img class="about-geof" src="{% static '/img/vintage-geof.png' %}" alt="Geof skiing"> 
      </div>
      <div class="center">
      <img class="about-geof" src="{% static '/img/geof-high-country.jpg' %}" alt="Geof in the High Country">
      </div>   -->
  </div>
</div>
{% endblock %}
