{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row"></div>
  <div id="about" class="middle-container">
    <!-- <div class="about-row"> -->
    <h1 class="headline">Durango's longest standing real estate firm, representing premier properties in Southwestern
      Colorado since 1980.</h1>
    <img src="{% static '/img/animas-valley.png' %}" alt="Animas Valley">
    <p>Durango, Colorado provides the ultimate opportunity for living the Rocky Mountain lifestyle. With extensive
      knowledge of
      the Durango area, we can assist you through the entire process of buying & selling property. Horizon offers
      discreet buyer and
      seller representation and provides individual attention to every client, from first homes to luxury homes,
      ranches and land.</p><br>
  </div>
  <!-- <div class="about-row"> -->

  <h3 class="title-mission">Mission</h3>
  <p>When it comes to offering the highest level of real estate brokerage services, Horizon Properties holds
    strongly to the
    conviction that bigger is not necessarily better. We are dedicated to providing our clients and customers a
    comprehensive approach
    to both marketing property for sale and identifying appropriate properties to purchase. <br><br> We live the
    Colorado lifestyle to the
    fullest and have accumulated a wealth of experience in building, real estate development and real estate
    investment both personally
    and professionally, over the past 40 years. <br><br> One of the cornerstones of Horizon Properties is a firm
    belief in the old adage about
    treating people the way we want to be treated. You put your trust in us, we deliver trustworthiness and more to
    you. Through the
    years we have represented people from all walks of life, in a variety of transactions from starter homes to fine
    estates, small
    acreage to large ranches, commercial properties and larger business opportunities. For those coming to Durango
    for the first time or
    those who have been here a lifetime, we pride ourselves in assisting clientele in achieving their real estate
    related goals, from
    conception through completion.</p>
  <div class="aspen-highlands">
    <img class="aspen" src="{% static '/img/aspen-highlands.png' %}" alt="Aspen in SW Colorado">
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}