{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="properties" class="property-container">
  <!-- <h2>Featured Properties.</h2> -->
  <div class="grid-container">
    <div class="card">
      <h3>Buffalo Boy</h3>
      <h4 class="town">Silverton, CO</h4>
      <h4>$675,000</h4>
      <button id="myBtn"><img class="list" src="{% static '/img/buffaloboy.png' %}" alt="Buffalo boy property"></button>
    </div>
    <div class="card">
      <h3>Destination Ranch</h3>
      <h4 class="town">Durango, CO</h4>
      <h4>$350,000</h4>
      <img class="list" src="{% static '/img/destinationranch.png' %}" alt="destination ranch property">
    </div>
    <div class="card">
      <h3>Dolores River Ranch</h3>
      <h4 class="town">Dolores, CO</h4>
      <h4>$500,000</h4>
      <img class="list" src="{% static '/img/doloresriverranch.png' %}" alt="dolores river ranch property">
    </div>
    <div class="card">
      <h3>Dutch Boys Ranch</h3>
      <h4 class="town">Hesperus, CO</h4>
      <h4>$1,000,000</h4>
      <img class="list" src="{% static '/img/dutchboysranch.png' %}" alt="dutch boys ranch property">
    </div>
    <div class="card">
      <h3>Rusty Nail</h3>
      <h4 class="town">Durango, CO</h4>
      <h4>$1,000,000</h4>
      <button id="myBtn"><img class="list" src="{% static '/img/rustynail.png' %}" alt="rusty nail property"></button>
    </div>
    <div class="card">
      <h3>Castle Rock</h3>
      <h4 class="town">Durango, CO</h4>
      <h4>$1,000,000</h4>
      <img class="list" src="{% static '/img/castlerock.png' %}" alt="castle rock property">
    </div>
  </div>


  <!-- Trigger/Open The Modal -->


  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h3>Buffalo Boy</h3>
      <h4 class="town">Silverton, CO</h4>
      <h4>$675,000</h4>
      <!-- <img class="list" src="css/img/buffaloboy.png" alt="Buffalo boy property"> -->
      <p>This is truly a unique offering located just about 5 miles from Silverton. <br><br>
        The property is comprised of 2 mining claims; Townsite and Niegold Townsite that parallel one another.
        The old Buffalo Boy Lower Tramhouse is included on the Niegold Townsite claim. A lot of history here! The Buffalo Boy
        Mine is located high above timberline and the ore was transported by tram to this lower tramhouse where it was
        transferred and transported to the mill. <br><br> The tramhouse and cable system were built circa 1929 and a portion of the
        lower tramhouse was improved into living quarters in the 1970's. The property would lend itself well to being developed into
        a destination retreat lodge and cabins. The large, substantial post and beam structure is in excellent condition and would
        serve as a solid framework upon which to improve the building into habitable space to function as a lodge.
        <br><br> This location is a gateway to high mountain recreation and would be an excellent base camp for high country activities,
        or just a scenic getaway.</p>
    </div>

  </div>

  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Browse Our Properties</h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
        </div>
      </div>
    </div>
  </section>


  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Browse Listings</li>
        </ol>
      </nav>
    </div>
  </section>


  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="assets/img/homes/home-1.jpg" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">$490,000</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">45 Drivewood Circle</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> Sqft: 3200</div>
                  <div class="col-6">
                    <i class="fas fa-car"></i> Garage: 2</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-bed"></i> Bedrooms: 3</div>
                  <div class="col-6">
                    <i class="fas fa-bath"></i> Bathrooms: 2</div>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-12">
                    <i class="fas fa-user"></i> Kyle Brown</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i> 2 days ago</div>
                </div>
                <hr>
                <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Avaiable</p>
          </div>
        {% endif %}

<!-- 
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="assets/img/homes/home-1.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">$490,000</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">45 Drivewood Circle</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: 3200</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: 2</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: 3</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: 2</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  <i class="fas fa-user"></i> Kyle Brown</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 2 days ago</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="assets/img/homes/home-2.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">$550,000</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">18 Jefferson Lane</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> Woburn MA, 01801</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: 3200</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: 1</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: 4</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: 2.5</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> Mark Hudson</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 5 days ago</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="assets/img/homes/home-3.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">$580,000</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">187 Woodrow Street</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> Salem MA, 01915</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: 3107</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: 0</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: 4</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: 3</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> Mark Hudson</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 5 days ago</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="assets/img/homes/home-4.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">$380,000</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">28 Gifford Street</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> Bedford NH, 03103</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: 2927</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: 2</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: 4</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: 2</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> Jenny Johnson</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 5 days ago</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="assets/img/homes/home-5.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">$230,000</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">12 United Road</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> South Hampton NH, 03827</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: 2207</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: 1</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: 3</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: 1.5</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> Kyle Brown</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 5 days ago</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="assets/img/homes/home-6.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">$780,000</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">33 Essex Circle</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> Lexington MA, 01731</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: 4145</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: 1</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: 5</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: 3.5</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> Kyle Brown</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 5 days ago</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div> -->

      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">&raquo;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
