/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary {
    width: 100%;
  }
}

/* Media Queries: Tablet Portrait */
@media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }
}

/* make it snug */
html,
body {
  margin: 0;
  height: 100%;
}

/* html tags */
img {
  border-radius: 5px;
}

img {
  width: 100%;
}

p {
  line-height: 2;
  padding-left: 0;
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-weight: normal;
  line-height: 2;
  padding-top: 40px;
  margin: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0;
  color: #233142;
}

h4 {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Logo, Navbar */
/* .logo {
  width: 80px;
} */

.logo {
  width: 100%;
}

#mynav {
  background-color: #333333 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.navbar {
  /* opacity: 0.9; */
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
}

/* Topbar */
#top-bar {
  background-color: #fff;
  color: #333333;
  text-align: center;
}

.geofphone {
  text-align: left;
  padding-left: auto;
  font-family: 'Montserrat', sans-serif;
}

.geofemail {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}

/* index */
#about {
  margin-top: 0;
}

.middle-container {
  background-color: white;
  margin: 60px 0;
}

.about-row {
  width: 50%;
  margin: 10px auto 10px auto;
  text-align: justify;
}

.headline {
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}

.title-mission {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
  text-align: center;
}

.aspen-highlands {
  text-align: center;
}

.aspen {
  width: 75%;
  border-radius: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* about */
.skill-row {
  text-align: justify;
}

.mountain {
  width: 38%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
  text-align: justify;
}

.undertitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}

.center {
  text-align: center;
}

.about-geof {
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  width: 75%;
  border-color: transparent;
  border-radius: 5px;
}

/* alexa */
.alexa-resume {
  font-weight: 600;
}

/* listings */
#properties {
  padding-bottom: 0;
}

.property-container {
  color: #333333;
  text-align: center;
  padding-bottom: 30px;
  background-color: #fff;
  padding-top: 60px;
}

/* admin */
.admin {
  text-align: left;
  padding-left: auto;
  font-family: 'Montserrat', sans-serif;
}

.card-img-top {
  border-radius: 5px;
}

.listing-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
  text-align: center;
}

.price {
  padding-top: 0;
}

.badge-secondary {
  background-color: #333333;
}

.text-secondary {
  color: #333333 !important;
}

.btn-primary {
  background-color: #333333;
}

.btn-primary:hover {
  background-color: #fff;
  border-color: #333333;
  color: #333333;
}

.page-item.active .page-link {
  background-color: #333333;
  border-color: #333333;
}

.page-link {
  color: #333333;
}

.single-listing {
  font-family: 'Montserrat', sans-serif;
}

.img-main {
  border-radius: 5px;
}

.img-fluid {
  border-radius: 5px;
}

.display-4 {
  color: #333333;
}

.lead {
  color: #333333;
  text-align: center;
}

.btn-light {
  background-color: #333333;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.btn-light:hover {
  background-color: #fff;
  border-color: #333333;
  color: #333333;
}

.display-4 {
  font-size: 2.8rem;
}

.btn-secondary {
  color: #fff !important;
}

.social a {
  margin-right: 0.4rem;
}

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}
#services::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.8);
}

#work {
  padding: 6rem 0;
}

.listing-preview a {
  position: relative;
}

/* Responsive navbar */
nav {
  float: center;
}

.topnav {
  background-color: #333333;
}

.phone {
  color: #fff;
  text-align: right;
  padding-top: 14px;
  padding-right: 16px;
}

.geof-top {
  text-align: center;
  padding-top: 60px;
}

.geof {
  width: 45%;
  border-radius: 50%;
  padding-top: 40px;
  padding-bottom: 30px;
  /* border: #333333;
  border-width: 1px;
  border-style: solid; */
  /* float: left;
  margin-left: 30px; */
}

/* Property container */

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 16px;
  text-align: left;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

#myBtn {
  border-radius: 10px;
}

.list {
  height: 200px;
  border-radius: 10px;
}

.town {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.listing-p {
  font-family: 'Montserrat', sans-serif;
}

/* Footer */
.footcontainer {
  background-color: #333333;
  color: #fff;
  margin: 0px;
  padding: 10px 20px;
  width: 100%;
}

.footerp {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  font-weight: 100px;
}

footer {
  background-color: #fff;
  color: #333333;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding: 30px;
}

.copyright {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
